#settings form div {
  padding-top: 5px;
}

#settings form div input {
  border-radius: 5px;
}

#linfinity .panel {
  display: inline-block;
}

#display {
  height: 100%;
  width: 100%;
}

#displayScrollPane {
  position: absolute;
  font-size: 16px;
  line-height: 16px;
}
