#settings {
  width: 17em;
  height: 90vh;
  position: relative
}

#settingsScrollPane {
  height: 70vh;
  overflow-y: scroll;
  position: relative;
}

#settingsHelpContainer {
  height: 20vh;
  overflow-y: scroll;
  position: relative;
}

#settings form div {
  padding-top: 5px;
}

.settings-help {
  display: none;
}

#settings form div input {
  border-radius: 5px;
}

#linfinity .panel {
  display: inline-block;
}

#display {
  height: 100%;
  width: 100%;
}

#displayScrollPane {
  position: absolute;
  font-size: 16px;
  line-height: 16px;
}
