#settings form div {
  padding-top: 5px;
}

#settings form div input {
  border-radius: 5px;
}

#linfinity .panel {
  display: inline-block;
}

#displayScrollPane {
  overflow-y: hidden;
  height: 20em;
  position: absolute;
  resize: vertical;
}
